/* Applies everywhere */
body {
  font-family: Verdana;
  background-color: floralwhite;
}

/* Rectangular box used on a few pages */
.loginpages {
  margin: auto;
  margin-top: 3%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  padding: 30px;
  box-shadow: 0px 5px 10px;
}

/* For the logo on different pages */
.logoMain {
  text-align: center;
  font-size: 50px;
  color: darkgreen;
}

.logoSmall {
  float: left;
  font-size: xx-Large;
  color: white;
  margin-left: 0.3%;
}

/* General elements used on several pages */
input {
  padding: 6px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 95%;
}

button, input[type=submit], .deletebutton {
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  background-color: seagreen;
  color: white;
  width: 98%;
}

.deletebutton {
  padding: 5px;
  width: 15%;
}

button:hover, input[type=submit]:hover {
  background-color: darkgreen;
}

button:disabled, input[type=submit]:disabled {
  background-color: gray;
}

.link {
  color: seagreen;
}

/* Navigation bar elements */
.navLink {
  padding: 10px;
  background-color: seagreen;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  background-color: darkgreen;
}

.navLinkNotifications {
  padding: 10px;
  background-color: goldenrod;
  text-decoration: none;
  color: white;
}

.navLinkNotifications:hover {
  background-color: darkgoldenrod;
}

.logoutButton {
  width: 80px;
  border-radius: 0px;
  padding-top: 11.5px;
  padding-bottom: 9px;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: red;
}

.invalid {
  color: red;
  font-weight: bold;
}

.navBar {
  text-align: right;
  margin: -16px -8px;
  background-color: seagreen;
}

/* Home page message */
.home {
  font-size: xx-large;
  text-align: center;
  padding: 15%;
}

/* Collapsible elements used on a few pages */
.Collapsible__contentInner {
  width: 100%;
  background-color: floralwhite;
}

.Collapsible__contentInner > p, form {
  margin: 1% 0% 0% 1%;
}

.Collapsible {
  margin: 1%;
  width: 94%;
  padding: 20px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 10px;
}


/* Messages page */
.messagesender {
  text-align: right;
  margin-right: 1%;
}

.messagesendermessage {
  background-color: seagreen;
  color: white;
  padding: 1%;
  border-radius: 10px;
}

.messagereceiver {
  text-align: left;
  margin-left: 1%;
}

.messagereceivermessage {
  background-color: lightgray;
  padding: 1%;
  border-radius: 10px;
}

/* Notification page */
.notifications {
  margin-top: 1%;
  margin-left: 1%;
  border: 1px solid black;
  border-radius: 10px;
  width: 96.5%;
  padding: 10px;
  box-shadow: 0px 5px 10px;
}